{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | About us{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, 
quaerat accusamus fugiat aspernatur, 
optio veritatis quas vitae sapiente quod cum, iste quisquam quo esse repellat incidunt eligendi in quasi eveniet.</p>
{% endblock %}